@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.onetop{
    display: flex;
}
.onebar{
    display: flex;
    gap: 88px;
}
label{
color: #FFF;
font-family: Poppins;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: 153.5%; 
position: absolute;
top: 37px;
left: 55px;
}
.onebar a{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.one a:link{
    text-decoration: none;
}
.hover:hover{
    color: #FA9021;
}
.onecon:hover{
    color: black;
}
.onecon{
color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 6px;
background: #FA9021;
padding: 10.08px 28.46px 11.08px 27.49px;
position: absolute;
top: 44px;
left: 1245px;
}
.onebar{
    position: absolute;
    top: 52px;
    left: 703px;
}
.home{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 208.5%; 
}
.contact{
color: #E47500;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 208.5%;
}
.twoa{
    display: flex;
}
.twob{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 33px;
font-style: normal;
font-weight: 600;
line-height: 180.5%;
width: 942px;
margin-top: 15px;
margin-bottom: 13px;
}
.twoc{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 187.5%;
width: 609px;
height: 31px;
flex-shrink: 0;
margin-bottom: 93px;
}
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 186px;
}
.linea{
width: 1px;
height: 102.005px;
background: #FFF;
margin-left: 97px;
margin-right: 105px;
}
.lineb{
    width: 1px;
    height: 102.005px;
    background: #FFF;
    margin-left: 109px;
    margin-right: 99px;
}
.twoflex{
    display: flex;
    margin-top: 62.23px;
}
.fl{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 189.5%;
position: absolute;
left: 133px;
}
.l{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 166px;
height: 24px;
flex-shrink: 0;
}
.also{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 325px;
height: 66px;
flex-shrink: 0;
}
.nu{
    display: flex;
    gap: 25px;
}
.but{
    display: flex;
    gap: 19px;
}
.follow{
    margin-left: 50px;
}
.twoflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.say{
color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 189.5%;
}
.print{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 189.5%;
width: 432px;
height: 26px;
flex-shrink: 0;
margin-bottom: 79px;
}
.text{
color: #4F4F4F;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 175.4%; 
letter-spacing: -0.3px;
}
.linee{
    display: flex;
    gap: 27px;
}
.boxa{
border-radius: 9px;
border: 0.6px solid #CECECE;
background: rgba(255, 255, 255, 0.07);
width: 322px;
height: 56px;
flex-shrink: 0;
}
.boxb{
    border-radius: 9px;
    border: 0.6px solid #CECECE;
    background: rgba(255, 255, 255, 0.07);
    width: 322px;
    height: 56px;
    flex-shrink: 0;   
}
.boxc{
border-radius: 9px;
border: 0.6px solid #CECECE;
background: rgba(255, 255, 255, 0.07);
width: 671px;
height: 56px;
flex-shrink: 0;
}
.boxd{
width: 671px;
height: 232px;
flex-shrink: 0;
border-radius: 9px;
border: 0.6px solid #CECECE;
background: rgba(255, 255, 255, 0.07);
}
.three{
    display: flex;
    flex-direction: column;
    height: 858px;
    flex-shrink: 0;
    background: #1C140F;
    margin-top: 147px;
    justify-content: center;
}
.threetext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.linev{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sixa{
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
    width: 209px;
    height: 40px;
    flex-shrink: 0;
    margin-bottom: 32px;
    position: absolute;
    top: 2288px;
    left: 135px;
    }
    .sixb{
    width: 545px;
    height: 57px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    position: absolute;
    top: 2360px;
    left: 135px;
    }
    .sixc{
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 303px;
    margin-bottom: 10px;
    }
    .sixd{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 636px;
    }
    .sixe{
    color: #898989;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 155.098px;
    position: absolute;
    left: 20.55px;
    }
    .sixf{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 69.299px;
    width: 104.996px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #DC7000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 274.45px;
    }
    .sixflex{
    display: flex;
    align-items: center;
    width: 1170px;
    height: 189px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1C140F;
    position: absolute;
    top: 2491px;
    left: 135px;
    }
    .sixtwo{
    display: flex;
    align-items: center;
    width: 385.679px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    left: 734.32px;
    gap: 98.8px;
    }
    .sixone{
        position: absolute;
        left: 56px;
    }
    .seven{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 376px;
    flex-shrink: 0;
    background: #070707;
    position: absolute;
    top: 2828px;
    }
    .seone{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 153.5%;
    }
    .setwo{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 372px;
    height: 58px;
    flex-shrink: 0;
    margin-top: 15px;
    margin-bottom: 25px;
    }
    .sethree{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 196px;
    height: 23px;
    flex-shrink: 0;
    }
    .sefour{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
    }
    .sefive{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 186.3%; 
    width: 372px;
    height: 117px;
    flex-shrink: 0;
    }
    .sesix{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .seseven{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 11px;
    }
    .seeight{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 141px;
    height: 28px;
    flex-shrink: 0;
    }
    .sevenone{
        margin-left: 101px;
    }
    .seventwo{
        position: absolute;
        left: 551px;
    }
    .seventhree{
        position: absolute;
        left: 771px;
    }
    .sevenfour{
        position: absolute;
        left: 1136px;
        top: 196px;
    }
    .line{
    width: 1470.001px;
    height: 0.8px;
    background: #D2D2D2;
    position: absolute;
    top: 3121px;
    }
    .copy{
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.6%; 
    }
    .eight{
        position: absolute;
        top: 3150px;
        left: 587px;
    }
    
